
<h1> Spaces </h1>

<% if current_user %>
  <form method='get' action='/spaces/new'>
    <input class="button" type='submit' value='Add a space'>
  </form>
<% end %>

<form action='/spaces/filter' method='get'>
  <label for 'filter_date'>
    What date do you want to rent a space? <input name='filter_date' type='text' id='filter_date'>
  </label>
  <input class="button" type='submit' value='Find spaces'>
</form>

<% if @spaces %>
  <% @spaces.each do |space| %>
<div>
  Name: <%= space.name %>
</div>
<div>
  Description: <%= space.description %>
</div>
<div>
  Price per night: £<%= space.price %>
</div>
<div>
  Owner: <%= space.user.email %>
</div>

  <form method='get' action='/spaces/<%= space.id %>'>
    <input class="button" type='submit' value='View space'>
  </form>

  <% end %>
<% end %>
