
<div class="content-container">
<h1> Spaces </h1>


<% if current_user %>
<form id="add-space" method='get' action='/spaces/new'>
  <input class="button" type='submit' value='Add a space'>
</form>
<% end %>

<form action='/spaces/filter' method='get'>
  <label for 'filter_date'>
    What date do you want to rent a space? <input name='filter_date' type='text' id='filter_date' required>
  </label>
  <input class="button" type='submit' value='Find spaces'>
</form>

<% if @spaces %>
<% @spaces.each do |space| %>
<% if space.dates.empty? == false %>
<div id="each-space">
    <h3 id="space-name"><%= space.name %></h3>
    <div id="info">
      <div>
        £<%= space.price %> per night
      </div>
      <div>
        Host: <%= space.user.email %>
      </div>
      <form id="view-space-button" method='get' action='/spaces/<%= space.id %>'>
        <input class="button" type='submit' value='View space'>
      </form>
    </div>
  <div id="space-image">
    <img src='<%=space.imageurl%>' alt='<%=space.name%>' style="width:150px;height:100px;">
  </div>
</div>



<% end %>
<% end %>
<% end %>
</div>
