<div id="profile-container">
  <h1>Make a request</h1>
  <div>
    <img src='<%=@space.imageurl%>' alt='<%=@space.name%>' style="width:600px;height:400px;">
    <h3><%= @space.name %></h3>
  </div>
  <div class="space-info">
    <%= @space.description %>
  </div>
  <div class="space-info">
    £<%= @space.price %> per night
  </div>
  <form method='post' action='/requests/<%= @space.id %>' id="sending_request">
    <label for 'requested_date'>
      Choose a date: <input name='requested_date' type='text' id='requested_date' autofocus required>

    </label>
    <% @space.dates.split(',').each do |date| %>
    <input type="hidden" value='<%= date %>'>
    <% end %>
    <input class="button" type='submit' value='Request to book'>
  </form>
</div>
