<h1> Request! </h1>
<div>
  Name: <%= @space.name %>
</div>
<div>
  Description: <%= @space.description %>
</div>
<div>
  Price per night: £<%= @space.price %>
</div>

<form method='post' action='/requests/<%= @space.id %>' id="sending_request">
  <label for 'requested_date'>
    Choose a date: <input name='requested_date' type='text' id='requested_date'>
  </label>
  <input type="hidden" name="available_from" value="<%= @space.available_from %>">
  <input type="hidden" name="available_to" value="<%= @space.available_to %>">
  <input type='submit' value='Request to book'>
</form>
