<h1> Request! </h1>
<div>
  Name: <%= @space.name %>
</div>
<div>
  Description: <%= @space.description %>
</div>
<div>
  Price per night: £<%= @space.price %>
</div>
<div>
  dates: <%= @space.dates.split(',') %>
</div>

<form method='post' action='/requests/<%= @space.id %>' id="sending_request">
  <label for 'requested_date'>
    Choose a date: <input name='requested_date' type='text' id='requested_date' required>

  </label>
  <% @space.dates.split(',').each do |date| %>
  <input type="hidden" value='<%= date %>'>
  <% end %>
  <input type='submit' value='Request to book'>
</form>
