<div id="request-container">
<div id="received-requests">
  <h1 class="request-title">Requests I've received</h1>
  <% @received_requests.each do |request| %>

        <ul class="requests">
          <li><%= request.space.name %></li>
          <li><%= request.user.email %></li>
          <li>Date: <%= request.date %></li>
          <li>Status: <%= request.status%></li>
        </ul>
        <form action="/requests/booking/<%= request.id%>" method="post">
          <input class="button" type="submit" value="Confirm" >
        </form>

  <% end %>

</div>


<div id="sent-requests">
  <h1 class="request-title">Requests I've made</h1>
  <% @sent_requests.each do |request| %>

        <ul class="requests">
          <li><%= request.space.name %></li>
          <li>Host: <%= request.space.user.email %></li>
          <li>Date: <%= request.date %></li>
          <li>Status: <%= request.status%></li>
        </ul>

        <!-- <div class="clearfix"></div> -->
  <% end %>
</div>
</div>
